<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sydney.dream.model.User">
    <!-- 在select标签中编写查询的SQL语句， 设置select标签的id属性为getUser，id属性值必须是唯一的，不能够重复
    使用parameterType属性指明查询时使用的参数类型，resultType属性指明查询返回的结果集类型
    resultType="me.gacl.domain.User"就表示将查询结果封装成一个User类的对象返回
    User类就是users表所对应的实体类
    -->
    <resultMap id="resultUserArticleList" type="com.sydney.dream.model.Article">
        <id property="id" column="id"/>
        <result property="titel" column="titel" />
        <result property="content" column="content" />
        <association property="user" javaType="com.sydney.dream.model.User" >
            <id property="id" column="id" />
            <result property="name" column="name"/>
            <result property="age" column="age" />
        </association>
    </resultMap>
    <!--
    根据id查询得到一个user对象
    -->
    <select id="getUser" parameterType="int"
        resultType="com.sydney.dream.model.User">
        select * from user where id=#{id}
    </select>

    <select id=""></select>
</mapper>